<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flitter</key>
	<dict>
		<key>username</key>
		<string>flitter</string>
		<key>password</key>
		<string>flitter123!</string>
		<key>displayName</key>
		<string>Flitter</string>
	</dict>
</dict>
</plist>
